@font-face {
  font-family: "iconfont"; /* Project id 3488683 */
  src: url('iconfont.woff2?t=1657619589606') format('woff2'),
       url('iconfont.woff?t=1657619589606') format('woff'),
       url('iconfont.ttf?t=1657619589606') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao_o:before {
  content: "\eb78";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-four-fraction-layout:before {
  content: "\e6c4";
}

.icon-hengxiangbuju:before {
  content: "\e71d";
}

.icon-biaotou-kepaixu:before {
  content: "\e8f7";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-arrow-right-bold:before {
  content: "\e689";
}

